# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]

# ==========================
# VSCode
# ==========================
.vscode/

# ==========================
# Runtime Logs
# ==========================
logs/*.log
logs/*.txt
!logs/.gitkeep

# ==========================
# Environment
# ==========================
.env

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db